<div class="content-section">
    <h3>Send Me a Message</h3> 
</div>
<div class="content-seperator2"></div>
<div class="content-section" ng-controller="messageSender">
    <form class="message" ng-submit="sendMessage()">
		<ul>
			<li class="col-md-12 field">
				<input type="text" name="firstname" ng-model="first_name" class="col-md-8 message_input" placeholder="First Name"/>
				<div class="col-md-4 alert">{{first_name_alert}}</div>
			</li>
			<li class="col-md-12 field">
				<input type="text" name="lastname" ng-model="last_name" class="col-md-8 message_input" placeholder="Last Name"/>
				<div class="col-md-4 alert">{{last_name_alert}}</div>
			</li>
			<li class="col-md-12 field">
				<input type="text" name="email" ng-model="email" class="col-md-8 message_input" placeholder="Email Address"/>
				<div class="col-md-4 alert">{{email_alert}}</div>
			</li class="col-md-12">
			<li class="col-md-12 field">
				<textarea ng-model="message" class="col-md-8 message_input message_box" placeholder="Message"></textarea>
				<div class="col-md-4 alert">{{message_alert}}</div>
			</li>
			<li>
				<input type="submit" name="submit" value="Submit" class="submit_button"/>
                <div class="col-md-10 message_sent">{{message_sent}}</div>
			</li>
		</ul>
	</form>
</div>