.profile-picture{
	width: 15em;
	height: 16em; 
	background-size:cover;
	background-repeat:no-repeat;
}
.profile-picture-1{
	background-image:url('minhaskamal-profile-picture.jpg');
}

.icon{
	height: 6em; 
	width: 6em;
	background-size:cover;
	background-repeat:no-repeat;
}
.icon-large{
	height: 12em; 
	width: 12em;
	background-size:cover;
	background-repeat:no-repeat;
}

.icon-github{
	background-image:url('icon-github.png');
}
.icon-quora{
	background-image:url('icon-quora.png');
}
.icon-stackoverflow{
	background-image:url('icon-stackoverflow.png');
}
.icon-linkedin{
	background-image:url('icon-linkedin.png');
}
.icon-slideshare{
	background-image:url('icon-slideshare.png');
}
.icon-researchgate{
	background-image:url('icon-researchgate.png');
}
.icon-flickr{
	background-image:url('icon-flickr.png');
}
.icon-goodreads{
	background-image:url('icon-goodreads.png');
}
