body{
    font-family: sans-serif, arial;
    color: #4A4F64;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

a{
    color: #004d99;
}a:hover{
    text-decoration: underline;
    color: #004d99;
}


/********************************************************/
.sidebar{
    padding: 1em 0em 1em 1em;
    background-color: #FFFFFF;
    position: relative;
}
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #E9EAF1;
    font-size: 1.1em;
}
.sidebar li a {
    display: block;
    padding: 0.5em 0 0.5em 0.8em;
    color: #4A4F64;
    text-decoration: none;
    text-transform: capitalize;
}.sidebar li a.active {
    background-color: #4A4F64;
    color: #FFFFFF;
}.sidebar li a:hover:not(.active) {
    background-color: #d0d2e1;
    color: #4A4F64;
}
.sidebar .profile{
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    background-color: #E9EAF1;
}
.sidebar .profile .profile-picture{
    margin: auto;
}
.sidebar .profile  h1{
    text-align: center;
    font-size: 2.5em;
    margin-top: 0.2em;
}
.sidebar ul a .fa{
    margin-right: 0.5em;
}
.sidebar .profile h1{
    font-size: 2.4em;
}


/********************************************************/
.site-header{
    padding: 1em 1em 1em 1em;
    background-color: #FFFFFF;
    position: relative;
}
.site-header .header{
    background-color: #E9EAF1;
}
.site-header .header h1{
    font-size: 2.5em;
    padding: 0.3em 0 0.3em 0.4em;
}


/********************************************************/
.content{
    padding: 0em 1em 1em 1em;
    background-color: #FFFFFF;
    position: relative;
}
.content .content-section{
    background-color: #E9EAF1;
    padding: 1em 1em 1em 1em;
    text-align: justify;
}
.content .content-seperator1{
    background-color: #FFFFFF;
    padding: 1em 0em 0em 0em;
}
.content .content-seperator2{
    background-color: #d0d2e1;
    padding: 1px 0em 0em 0em;
}


/********************************************************/
.site-footer{
    padding: 0em 1em 1em 1em;
    background-color: #FFFFFF;
    position: relative;
}
.site-footer .footer{
    padding: 1em 0em 1em 0em;
    background-color: #E9EAF1;
    font-size: 0.8em;
    text-align: center;
}
.site-footer .footer a{
    color: #4A4F64;
}.site-footer .footer a:hover{
    color: #4A4F64;
    text-decoration: underline;
}


/********************************************************/
/*.error{
    color: red !important;
}*/



/********************************************************/

.contact .social-site-list{
    overflow: auto;
    
    box-sizing: border-box;
    display: inline-block;
}
.contact .social-site {
    float: left;
    margin: 0.5em;
}
.social-site:hover{
    
}

